<div
  #wrapper
  class="min-h-40 h-40 bg-gray-200 flex"
  [ngClass]="{ 'transition-transform duration-300 ease-in-out': animated }"
  (transitionend)="onTransitionEnd($event)"
>
  @for (item of slides(); let index = $index; track item.id) {
    <div class="h-full shrink-0" [style.width.px]="itemWidth()">
      <ng-container *ngTemplateOutlet="item.template"></ng-container>
    </div>
  }
</div>

<div class="w-full flex justify-between mt-4 items-center">
  <button class="cursor-pointer px-4 py-2" (click)="onControlsClick(-1)">
    <div class="size-2 border-t-2 border-l-2 border-slate-700 -rotate-45"></div>
  </button>

  <div class="flex gap-1.5">
    @for (item of items(); let index = $index; track index) {
      <div
        class="h-0 border-4 rounded-full border-slate-700 transition-[width] duration-200"
        [class]="isActive(index) ? 'w-5' : 'w-2'"
      ></div>
    }
  </div>

  <button class="cursor-pointer p-2" (click)="onControlsClick(1)">
    <div class="size-2 border-b-2 border-r-2 border-slate-700 -rotate-45"></div>
  </button>
</div>
